.header {
  color: var(--grey-color);
  font-weight: var(--bold);
  text-transform: uppercase;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    width: 100%;
    height: 2px;
    background: var(--grey-color-light);
  }
  span {
    background: var(--bg-color);
    padding-right: 1rem;
  }
}
