@import 'styles/_mixins';

$sidebar-width-desktop: 14rem;
$sidebar-width-mobile: 6rem;

.wrapper {
  border-radius: var(--border-radius);
  display: flex;
  height: calc(100vh - 20px);
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: calc(100vw - #{$sidebar-width-desktop});
}

.sidebar {
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $sidebar-width-desktop;
  padding: 2rem 0;
  @include md {
    width: $sidebar-width-mobile;
  }
}

.container {
  flex: 1;
  padding: 2rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
