@import '../../../../../../styles/mixins';

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: var(--font-weight-bold);
  img {
    width: 10rem;
    height: 10rem;
    border-radius: var(--border-radius);
  }
  @include md {
    img {
      width: 14rem;
      height: 14rem;
      border-radius: var(--border-radius);
    }
  }
}
